// Background for header
.header {
    font-family: 'Amatic SC', cursive;
    height: 100vh;
    min-height: 62rem;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    @include media-o(812px, landscape) {
        min-height: 90rem;
    }
    @include media(700px) {
        min-height: 80rem;
    }
}

.intro {
    text-align: center;
    font-weight: 700;
    @include absCenter;
    @include media(668px) {
        top: 45%;
    }
    &__heading-primary {
        color: $color-white;
        font-size: 8rem;
        margin: 5rem 0;
    }
    &__paragraph {
        display: inline-block;
        color: $color-orange-light;
        font-size: 3rem;
        line-height: 4rem;
        @include media(500px) {
            width: 35vw;
        }
        @include media(420px) {
            width: 40vw;
        }
    }
}


