// parallax stars
#stars1 {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: ($small-stars);
    animation: parallax-stars 50s linear infinite;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: ($medium-stars);
    animation: parallax-stars 80s linear infinite;
}

#stars3 {
    width: 3px;
    height: 4px;
    background: transparent;
    box-shadow: ($large-stars);
    animation: parallax-stars 120s linear infinite;
}

.intro {
    text-align: center;
    font-weight: 700;
    @include absCenter;
    @include media(668px) {
        top: 45%;
    }
    &__heading-primary {
        color: $color-white;
        font-size: 8rem;
        margin: 5rem 0;
    }
    &__paragraph {
        display: inline-block;
        color: $color-orange;
        font-size: 2.5rem;
        line-height: 4rem;
        @include media(500px) {
            width: 35vw;
        }
        @include media(420px) {
            width: 40vw;
        }
    }
}