// parallax stars
#stars1 {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: ($small-stars);
    animation: parallax-stars 50s linear infinite;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: ($medium-stars);
    animation: parallax-stars 80s linear infinite;
}

#stars3 {
    width: 3px;
    height: 4px;
    background: transparent;
    box-shadow: ($large-stars);
    animation: parallax-stars 120s linear infinite;
}

// side classes 
.hidden-display {
    display: none;
}

.hidden {
    animation: hidden .3s linear;
    animation-fill-mode: forwards;
    z-index: -100;
}

.overflow {
    overflow: hidden;
}

.show {
    opacity: 1 !important;
}

// remove blue select active box for touch input
.clicker, .clicker:active, .clicker:focus, .clicker:focus:active {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

.scale {
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation: zoom-in 2s linear;
}